:root {
  --turquoise: #00efe1;
  --mid-turquoise: #14d5c9;
  --dark-turquoise: #00333f;
  --black: #030416;
  --white: #fff;
  --grey: #d6e2e7;
  --dark-grey: #7f8a8e;
  --yellow: #f9c51a;
  --orange: #ff5c00;
  --fuschia: #e80352;
  --blue: #338fff;
  --blue-dark: #145cb3;
  --purple: #cda2ff;
  --green: #00ef7c;
  --color: var(--white);
  --background: var(--black);
  --primary: var(--turquoise);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  display: grid;
  grid-template-areas: "nav content";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

/* sidebar */
aside {
  grid-area: nav;
}

aside h1 {
  margin: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 2em;
}

aside h2 {
  margin: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid #000;
}

aside .item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  transition: background-color 0.3s ease;
  line-height: 1.5rem;
}

/* detail */
section {
  grid-area: content;
  padding: 2rem;
  background-color: rgb(255, 237, 194);
}

.button,
button {
  padding: 0.5rem;
  margin: 10px 10px 10px 10px;
  border: none;
  font: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--background);
  border: 2px solid var(--dark-turquoise);
  transition: background-color 0.2s;
  line-height: 2.5;
}

.button.active,
.button:hover,
button.active,
button:focus,
button:hover {
  outline: none;
  color: var(--white);
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

button:disabled {
  cursor: not-allowed;
  color: var(--dark-grey);
  background-color: var(--grey);
}

button.blue {
  border: 2px solid var(--blue-dark);
  color: var(--blue);
}

button.blue.active,
button.blue:focus,
button.blue:hover {
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);
}
